* {
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: hsl(185, 75%, 39%);
  font-family: "Kumbh Sans", sans-serif;
  overflow: hidden;
}

#back-top-style {
  position: absolute;
  top: -25vh;
  left: -15vh;
}
#back-bot-style {
  position: absolute;
  bottom: -45vh;
  right: -10vh;
}
#container-div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 2;
}
#main-div {
  width: 400px;
  height: 400px;
  background-color: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
#top-section {
  background-image: url(images/bg-pattern-card.svg);
  width: 400px;
  height: 150px;
  background-repeat: round;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  display: flex;
  justify-content: center;
}
#pic-section {
  background-image: url(images/armin.jpg);
  background-repeat: no-repeat;
  background-size: 105px 105px;
  background-position: center;
  object-fit: cover;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  border: 5px solid white;
  margin-top: 100px;
}
#main-section {
  text-align: center;
  margin-top: 60px;
}
#main-section-h2 {
  display: inline-block;
  color: hsl(229, 23%, 23%);
  font-size: 18px;
}
#main-section-p1 {
  display: inline-block;
  color: hsl(227, 10%, 46%);
  font-size: 18px;
  padding-left: 5px;
}
#main-section-p2 {
  color: hsl(227, 10%, 46%);
  padding-left: 5px;
  margin: 0 10px 0 0;
}
#bot-section {
  border-top: 2px solid #e7e7e7;
  background-color: white;
  border-width: 1px;
  height: 80px;
  text-align: center;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.bot-section-h2 {
  font-size: 18px;
  color: hsl(229, 23%, 23%);
  display: block;
  margin-bottom: 5px;
}
.bot-section-p {
  font-size: 12px;
  color: hsl(0, 0%, 59%);
  margin: 0;
  letter-spacing: 1px;
}
.bot-section-main {
  display: inline-block;
}
#like-text {
  padding: 0 70px;
}
@media only screen and (max-width: 1600px) {
  #back-top-style {
    position: absolute;
    top: -25vh;
    left: -25vh;
  }
  #back-bot-style {
    position: absolute;
    bottom: -45vh;
    right: -20vh;
  }
}
@media only screen and (max-width: 1440px) {
  #back-top-style {
    position: absolute;
    top: -55vh;
    left: -45vh;
  }
  #back-bot-style {
    position: absolute;
    bottom: -65vh;
    right: -40vh;
  }
}
@media only screen and (max-width: 1440px) {
    #back-top-style {
      position: absolute;
      top: -55vh;
      left: -45vh;
    }
    #back-bot-style {
      position: absolute;
      bottom: -65vh;
      right: -40vh;
    }
  }
@media only screen and (max-width: 1280px) {
    #back-top-style {
      position: absolute;
      top: -50vh;
      left: -40vh;
    }
    #back-bot-style {
      position: absolute;
      bottom: -55vh;
      right: -40vh;
    }
  }
